#login {
    border-style: solid;
    border-color: black;
    padding: 2px;
    width: 500px;
    height: 100;    
}

#content {
    width:800px;
    margin: auto;
    border-color: black;
    border-style: solid;
    padding: 10px;
    background-color: antiquewhite;  
    align-content: center;
}
.form-signin {
    align-items: center;
}

.form-control {
    align-items: center;
}
